.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.name {
  color: #BDBDBD;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.63px;
  text-transform: uppercase;
  margin: 0;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  background: #252329;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.initials {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.63px;
  text-transform: uppercase;
}