.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 15px 32px;
}

.search {
  color: #fff;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 40px;
  gap: 25px;
}