.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  color: #828282;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.63px;
  margin: 0;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 7px;
  background-position: center;
  background-size: cover;
  background-color: #efefef;
}