.mainContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: rgb(209, 209, 238);
}