.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75px;
  background: #0B090C;
  padding: 0px 15px;
  gap: 28px;
  position: relative;
}

.name {
  color: #828282;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.63px;
  flex: 1;
}

.down {
  color: #BDBDBD;
  width: 24px;
  height: 24px;
  background: transparent;
  border: 0;
}